@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Commissioner', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#header,
#middle,
#bottom {
  max-width: 1440px;
  width: 100%;
}

#main-story {
  background: url(../public/main-banner.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main-story:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000000de 0%, transparent 50%, transparent 50%, #000000de 100%);
}

#custom-border-left:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 5px;
  height: calc(100% - 30px);
  border-radius: 30px;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


svg.double-circles path:nth-of-type(1) {
  fill: rgb(251 146 60 / var(--tw-bg-opacity));
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}